.header{
    background-color: rgb(230, 107, 7);
    color:black;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
background-color:  rgb(230, 107, 7);
color: black;
text-align: center;
position: fixed;
width: 100%;
padding: 20px;
bottom: 0;
font-size: 1em;

}
.section{
   background-color: bisque;
   float: left; 
   padding: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}